<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=initial-scale, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="./font/fontawesome-free-5.15.4-web/css/all.css"
      rel="stylesheet"
    />
    <link href="style.css" rel="stylesheet" />
    <title>Trang Chủ</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="img/logo5.png" />
      </div>
      <div class="menu">
        <li><a href="nam.html">NAM</a></li>
        <li>
          <a href="Nu.html">NỮ</a>
        <li><a href="treem.html">TRẺ EM</a></li>
        <li><a href="sale.html">SALE</a></li>
        <li><a href="nguoilontuoi.html">NGƯỜI LỚN TUỔI</a></li>
        <li><a href="bosuutap.html">BỘ SƯU TẬP</a></li>
        <li><a href="thongtin.html">THÔNG TIN</a></li>
      </div>
      <div class="orther">
        <li>
          <input
            id="search"
            class="search-input"
            type="text"
            placeholder="Tìm Kiếm..."
            name="search"
          />
          <i class="fa fa-search icon-white"></i>
        </li>
        <li><i class="fas fa-paperclip"></i></li>
        <li><i class="fas fa-user"></i></li>
        <li><i class="fab fa-facebook"></i></li>
      </div>
    </header>
    <section class="nu">
       <div class="container">
        <div class="nu-top row">
           <p>Trang Chủ</p><span>&#10230;</span><p>Nữ</p><span>&#10230;</span><p>Hàng Mới Về</p>
        </div> 
       </div>
       <div class="container">
        <div class="row">
          <div class="nu-left">
          <ul>
            <li class="nu-left-li"><a href="#">Sale</a>
              <ul>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
              </ul>
            </li>
          </ul>
          </div>
          <div class="nu-right row">
            <div class = "nu-right-top">
              <p>Hàng Nữ Mới Về</p>
            </div>
            <div class = "nu-right-top">
              <button><span>Bộ Lọc</span><i class="fas fa-sort-down"></i></button>
            </div>
            <div class = "nu-right-top">
              <select name="" id="">
                <option value="">
                  Sắp Xếp
                </option>
                <option value="">
                  giá thấp đến cao
                </option>
                <option value="">
                  giá cao đến thấp
                </option>
              </select>
            </div>
          <div class="nu-right-content row">
              <div class="nu-right-content-item">
               <img src="img/nu-sp1.jpg" alt="">
               <h1>Trang phục dành cho nữ</h1>
               <p>200.000<sup>đ</sup></p>
              </div>
            <div class="nu-right-content-item">
              <img src="img/nu-sp2.jpg" alt="">
              <h1>Trang phục dành cho nữ</h1>
              <p>200.000<sup>đ</sup></p>
            </div>
            <div class="nu-right-content-item">
              <img src="img/nu-sp3.jpg" alt="">
              <h1>Trang phục dành cho nữ</h1>
              <p>200.000<sup>đ</sup></p>
            </div>
            <div class="nu-right-content-item">
              <img src="img/nu-sp4.jpg" alt="">
              <h1>Trang phục dành cho nữ</h1>
              <p>200.000<sup>đ</sup></p>
            </div>
            <div class="nu-right-content-item">
              <img src="img/dnc.jpg" alt="">
              <h1>Trang phục dành cho nữ</h1>
              <p>200.000<sup>đ</sup></p>
            </div>
            <div class="nu-right-content-item">
              <img src="img/dnc.jpg" alt="">
              <h1>Trang phục dành cho nữ</h1>
              <p>200.000<sup>đ</sup></p>
            </div>
            <div class="nu-right-content-item">
              <img src="img/dnc.jpg" alt="">
              <h1>Trang phục dành cho nữ</h1>
              <p>200.000<sup>đ</sup></p>
            </div>
            <div class="nu-right-content-item">
              <img src="img/dnc.jpg" alt="">
              <h1>Trang phục dành cho nữ</h1>
              <p>200.000<sup>đ</sup></p>
            </div>
            <div class="nu-right-content-item">
              <img src="img/dnc.jpg" alt="">
              <h1>Trang phục dành cho nữ</h1>
              <p>200.000<sup>đ</sup></p>
            </div>
            <div class="nu-right-content-item">
              <img src="img/dnc.jpg" alt="">
              <h1>Trang phục dành cho nữ</h1>
              <p>200.000<sup>đ</sup></p>
            </div>
            <div class="nu-right-content-item">
              <img src="img/dnc.jpg" alt="">
              <h1>Trang phục dành cho nữ</h1>
              <p>200.000<sup>đ</sup></p>
            </div>
            <div class="nu-right-content-item">
              <img src="img/dnc.jpg" alt="">
              <h1>Trang phục dành cho nữ</h1>
              <p>200.000<sup>đ</sup></p>
            </div>
            <div class="nu-right-content-item">
              <img src="img/dnc.jpg" alt="">
              <h1>Trang phục dành cho nữ</h1>
              <p>200.000<sup>đ</sup></p>
            </div>
            <div class="nu-right-content-item">
              <img src="img/dnc.jpg" alt="">
              <h1>Trang phục dành cho nữ</h1>
              <p>200.000<sup>đ</sup></p>
            </div>
            <div class="nu-right-content-item">
              <img src="img/dnc.jpg" alt="">
              <h1>Trang phục dành cho nữ</h1>
              <p>200.000<sup>đ</sup></p>
            </div>
            <div class="nu-right-content-item">
              <img src="img/dnc.jpg" alt="">
              <h1>Trang phục dành cho nữ</h1>
              <p>200.000<sup>đ</sup></p>
            </div>
          </div>
        <div class="nu-right-bottom row">
          <div class="nu-right-bottom-item">
            <p>Hiển Thị 2<span> | </span>4 Sản Phẩm</p>
          </div>
          <div class="nu-right-bottom-item">
            <p><span>&#171;</span> 1 2 3 4 5 <span>&#187;</span> Trang Cuối</p>
          </div>
        </div>
        </div>
        </div>
       </div>
    </section>

    <section class="app-container">
      <p>Tải ứng dụng LHK</p>
      <div class="app-google">
        <img
          src="img/icons-app-store-google-play-16099197313171878532026.webp"
          alt=""
        />
      </div>
      <p>Nhận bản tin trên LHK</p>
      <input type="text" placeholder="Nhập email của bạn..." />
    </section>
    <footer>
    <div class="foooter-top">
      <li><a href="TrangChu.html">Trang Chủ</a></li> |
      <li><a href="">Đăng Ký</a></li> |
      <li><a href="">Đăng Nhập</a></li> |
      <li><a href="">Giới Thiệu</a></li> |
      <li><a href="">Tuyển Dụng</a></li> |
      <li><a href="">Tin Tức</a></li> 
      <li>
        <a href="" class="fab fa-facebook"></a>
        <a href="" class="fab fa-twitter"></a>
        <a href="" class="fab fa-youtube"></a>
      </li>
    </div>
    <br>
      Website Bán Quần Áo</br>
      Địa Chỉ : Ấp Long Hòa 1, xã Long Mỹ, huyện Mang Thít, tỉnh Vĩnh Long</br>
      Số Điện Thoại : 0939540699 
    </p>
    <div class="footer-buttom">
      @My Name Is Kha
    </div>
  </footer>
  </body>
  <script>
  //
  const header = document.querySelector("header")
  window.addEventListener("scroll",function(){
    x = window.pageYOffset
    if(x>0){
     header.classList.add("sticky")
    }
    else{
     header.classList.remove("sticky")
    }
  })

    //Hình ảnh trang chủ tự di chuyển sang ảnh khác và khi nhấn vào nút sẽ chuyển vào ảnh theo thứ tụ đó
   /* const imgPosition = document.querySelectorAll(".aspect-ratio-169 img");
    const imgContainer = document.querySelector(".aspect-ratio-169");
    const dotItem = document.querySelectorAll(".dot");
    let imgNumber = imgPosition.length;
    let Trangchu = 0;

    //console.log(imgposition);
    imgPosition.forEach(function (img, Trangchu) {
      img.style.left = Trangchu * 100 + "%";
      dotItem[Trangchu].addEventListener("click", function () {
        siler(Trangchu);
      });
    });
    function imgslide() {
      Trangchu++;
      console.log(Trangchu);
      if (Trangchu >= imgNumber) {
        Trangchu = 0;
      }
      siler(Trangchu);
    }
    function siler(Trangchu) {
      imgContainer.style.left = "-" + Trangchu * 100 + "%";
      const dotActive = document.querySelector(".active");
      dotActive.classList.remove("active");
      dotItem[Trangchu].classList.add("active");
    }
    setInterval(imgslide, 5000);
    */
  </script>
</html>
